@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  /* height: 100%; */

}
.flex {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

